
html {
  scroll-behavior: smooth;
}
/* Welcome pg header image */
    #bgoffice 
      {
    width: 100%;
    height: 80%;
      }
/* Style for nav specifies properties navbar*/
    .nav 
      {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    text-decoration: none;
    margin: 0;
    padding: 0;
      } 
/* Style for button*/
    #searchb 
      {
      border-color: #c78c06;
      }
    #searchi 
      {
      border-color: #c78c06;
      width: 20px;
      }
/* Style for link hover*/
    a:hover 
      {
      background-color: #c78c06;
      color: white;
      text-decoration: none;
      }
/* Style for link text decoration*/
    a:link 
      {
      text-decoration: none;
      color: #c78c06;
      }
/* Style for icon*/      
    #icon 
      {
      background-color: black;
      margin-top: 20px;
      margin-bottom: 20px;
      }
      #bgoffice
      {
        position: relative;
        display: inline-block;
        margin: 0;
        padding: 0;
      }
/* Style for background image box*/    
    .whitebox 
      {
      display: flex;
      flex-wrap: wrap;
      position: absolute;
      top: 70%;
      left: 40%;
      transform: translate(-50%, -50%);
      width: 1150px;
      height: 600px;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }
    .whitebox .item1:nth-child(1) 
    {
      margin-left: 2%;
      font-size: 70pt;
    }
    .whitebox .item1:nth-child(2) 
    {
      margin-left: 2%;
      font-size: 16pt;
    }
    #bt 
    {
      background-color: #c78c06;
      color: black;
      border: none;
      width: 250px;
      height: 100px;
      font-size: 18pt;
      text-align: center;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      margin-left: 2%;
    }
/* Style for section 2*/   
    .sec2 {
     background-color: #ffe6ac;
     display: grid;
     grid-template-columns: 50% 50%;
     grid-template-rows: 25% 25% 25%;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          }
    .sec2 .item2:nth-child(1) 
    {
      grid-column: 1;
      grid-row: 2;
    }
    .sec2 .item2:nth-child(2) 
    {
      grid-column: 2;
      grid-row: 1;
      font-size: 54px;
    }
    .sec2 .item2:nth-child(3) 
    {
      grid-column: 2;
      grid-row: 2;
    }
    .sec2 .item2:nth-child(4) 
    {
      grid-column: 2;
      grid-row: 3;
    }
/* Style for section 3*/    
    .sec3 
    {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto auto auto auto;
      column-gap: 20px;
      padding: 0;
      background-color: #ffe6ac;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .sec3 .item3:nth-child(1) 
        {
      grid-column: 1;
      grid-row: 1;
      font-size: 54px;
        }
   .sec3 .item3:nth-child(2)  
       {
      grid-column: 1;
      grid-row: 2;
       }
   .sec3 .item3:nth-child(3)   
        {
      grid-column: 1;
      grid-row: 3;
      font-size: 36px;
         }
   .sec3 .item3:nth-child(4)  
    {
      grid-column: 1;
      grid-row: 4;
    }
    .sec3 .item3:nth-child(5)  
    {
      grid-column: 1;
      grid-row: 5;
      text-align: center;
      color: white;
      background-color: black;
      height: 70px;
      font-size: 24px;
    }
    .sec3 .item3:nth-child(6) 
    {
      grid-column: 2;
      grid-row: 2;
    }
    .sec3 .item3:nth-child(7) 
    {
      grid-column: 2;
      grid-row: 3;
      font-size: 36px;
    }
    .sec3 .item3:nth-child(8) 
    {
      grid-column: 2;
      grid-row: 4;
    }
    .sec3 .item3:nth-child(9) 
    {
      grid-column: 2;
      grid-row: 5;
      text-align: center;
      color: white;
      background-color: black;
      height: 70px;
      font-size: 24px;
    }
/* Style for section 4*/     
    .sec4 {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-template-rows: auto auto auto auto;
      background-color: #ffe6ac;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      padding-top: 20px;
      column-gap: 20px;
    }
    .sec4 .item4:nth-child(1)
    {
      display: grid;
      grid-column: 1;
      grid-row: 1;
    }
    .sec4 .item4:nth-child(2)
    {
      display: grid;
      grid-column: 1;
      grid-row: 2;
      padding-top: 20px;
      font-size: 36px; 
    }
    .sec4 .item4:nth-child(3)
    {
      display: grid;
      padding-top: 0;
      grid-column: 1;
      grid-row: 3;
    }
    .sec4 .item4:nth-child(4)
    {
      display: grid;
      grid-column: 1;
      grid-row: 4;
      text-align: center;
      color: white;
      background-color: black;
      height: 70px;
      font-size: 24px;
    }
    .sec4 .item4:nth-child(5)
    {
      display: grid;
      grid-column: 2;
      grid-row: 1;
        
    }
    .sec4 .item4:nth-child(6)
    {
      display: grid;
      grid-column: 2;
      grid-row: 2;
      font-size: 36px;
    }
    .sec4 .item4:nth-child(7)
    {
      display: grid;
      grid-column: 2;
      grid-row: 3;
    }
    .sec4 .item4:nth-child(8)
    {
      display: grid;
      grid-column: 2;
      grid-row: 4;
      text-align: center;
      color: white;
      background-color: black;
      height: 70px;
      font-size: 24px;
    }
    .sec4 .item4:nth-child(9)
    {
      display: grid;
      grid-column: 3;
      grid-row: 1;
    }
    .sec4 .item4:nth-child(10)
    {
      display: grid;
      grid-column: 3;
      grid-row: 2;
      font-size: 36px;
    }
    .sec4 .item4:nth-child(11)
    {
      display: grid;
      grid-column: 3;
      grid-row: 3;
    }
    .sec4 .item4:nth-child(12)
    {
      display: grid;
      grid-column: 3;
      grid-row: 4;
      text-align: center;
      color: white;
      background-color: black;
      height: 70px;
      font-size: 24px;
    }
/* Style for section 5*/     
    .sec5
    {
      
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .sec5 .item5:nth-child(1) 
    {
      width: 1200px;
      height: 500px;
    }
    .sec5 .item5:nth-child(2)
    {
      font-size: 36px;
    }
   .sec5 .item5:nth-child(4)
    {
      text-align: center;
      color: white;
      background-color: rgba(0, 0, 0, 0.5);
      height: 70px;
      border-color: #c78c06; 
    }
/* Style for section 6*/     
    .sec6 
    {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto auto auto auto;
      background-color: #ffe6ac;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .sec6 .item6:nth-child(1)
    {
      grid-column: 1;
      grid-row: 1;
      font-size: 54px;
    }
    .sec6 .item6:nth-child(2)
    {
      grid-column: 1;
      grid-row: 2;
    }
    .sec6 .item6:nth-child(3)
    {
      grid-column: 1;
      grid-row: 3;
      font-size: 36px;
    }
    .sec6 .item6:nth-child(4)
    {
      grid-column: 1;
      grid-row: 4;
      text-decoration: underline #c78c06;
    }
    .sec6 .item6:nth-child(5)
    {
      grid-column: 1;
      grid-row: 5;
    }
    .sec6 .item6:nth-child(6)
    {
      grid-column: 2;
      grid-row: 2;
      font-size: 36px;
    }
    .sec6 .item6:nth-child(7)
    {
      grid-column: 2;
      grid-row: 3;
      text-decoration: underline #c78c06;
    }
    .sec6 .item6:nth-child(8)
    {
      grid-column: 2;
      grid-row: 4;
    }
    .sec6 .item6:nth-child(9)
    {
      grid-column: 2;
      grid-row: 5;
    }
/* Style for section 7*/     
    .sec7 
    {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto auto;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .sec7 .item7:nth-child(1)
    {
      grid-column: 1;
      grid-row: 1;
      font-size: 54px;
    }
    .sec7 .item7:nth-child(2)
    {
      grid-column: 1;
      grid-row: 2;
      font-size: 36px;
    }
/* Style for section 8*/ 
.sec8 
{
  display: grid;
  column-gap: 20px;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}    
.sec8 .item8:nth-child(1)
{
  grid-column: 1;
  grid-row: 1;
}
.sec8 .item8:nth-child(2)
{
  grid-column: 1;
  grid-row: 2;
}
.sec8 .item8:nth-child(3)
{
  grid-column: 1;
  grid-row: 3;
}
.sec8 .item8:nth-child(3)
{
  grid-column: 1;
  grid-row: 3;
}
.sec8 .item8:nth-child(4)
{
  grid-column: 1;
  grid-row: 4;
}
.sec8 .item8:nth-child(5)
{
  grid-column: 1;
  grid-row: 5;
}
.sec8 .item8:nth-child(6)
{
  grid-column: 1;
  grid-row: 6;
}
.sec8 .item8:nth-child(7) 
{
  grid-column: 1;
  grid-row: 7;
  color: #c78c06;
  background-color: black;
  font-size: 24px;
}
.sec8 .item8:nth-child(8)
{
  grid-column: 2;
  grid-row: 1;
}
.sec8 .item8:nth-child(9)
{
  grid-column: 2;
  grid-row: 2;
}
.sec9 table, th, td
{
  border: 1px solid;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sec9 .item9:nth-child(1)
{
  background-color: #ffe6ac;
}
.sec9 .item9:nth-child(2)
{
  background-color: #ffe6ac;
}

/* Style for the footer*/    
    .footer {
      color: #c78c06;
      background-color: black;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 40px;
    }
   



    